body{
margin:0;
font-family:Segoe UI;
background:#0f172a;
color:white;
}

.layout{display:flex;height:100vh;}

.sidebar{
width:220px;
background:#111827;
padding:20px;
}

.nav{
padding:10px;
background:#1f2937;
margin:5px 0;
}

.main{flex:1;padding:20px;}

input,select{
width:100%;
padding:8px;
margin:6px 0;
}

button{
width:100%;
padding:10px;
background:#2563eb;
color:white;
border:none;
}

#progress{
height:8px;
background:#1f2937;
margin-top:15px;
}

#bar{
height:8px;
background:#22c55e;
width:0%;
}

pre{
background:#111827;
padding:10px;
margin-top:10px;
}
